body {
  color: $main-color;
  background: $background-color;
}
.wrapper {
  max-width:1154px;
  width:100%;
  height:100%;
  margin:0 auto;
  display:table;
  border-collapse:collapse;
}
.wrapper-holder {
  display:table-cell;
  vertical-align:middle;
  padding:22px 0 22px 14px;
}
.main {
  background:$color-blue;
  color:#e5e5e5;
  margin:93px 0 0 359px;
  position:relative;
  box-shadow:$shadow;
}
.main-holder {
  float:left;
  width:100%;
}
.main a { color:#e5e5e5; }
.main a:hover {
  color:#e5e5e5;
  text-decoration:underline;
}
.sub-nav {
  text-align:justify;
  text-transform:uppercase;
  padding:43px 50px 48px 70px;
  font-size:0;
}
.sub-nav ul:after {
  display:inline-block;
  vertical-align:top;
  width:100%;
  content:'';
}
.sub-nav li {
  display:inline-block;
  vertical-align:middle;
  white-space:nowrap;
  font:20px/1 $font-questrial;
}
.sub-nav a {
  display:inline-block;
  vertical-align:middle;
}
.sub-nav li:before {
  display:inline-block;
  vertical-align:middle;
  margin:0 17px 0 0;
}
.sub-nav .call:before {
  content:'';
  width:22px;
  height:22px;
  background:url('../img/sprite/sprite.png') no-repeat;
}
.sub-nav .chat:before {
  content:'';
  width:32px;
  height:26px;
  background:url('../img/sprite/sprite.png') no-repeat -23px 0;
}
.sub-nav .email:before {
  content:'';
  width:28px;
  height:22px;
  background:url('../img/sprite/sprite.png') no-repeat -56px 0;
}
.sub-nav .community:before {
  content:'';
  width:30px;
  height:28px;
  background:url('../img/sprite/sprite.png') no-repeat -85px 0;
}
.main-container {
  margin:-93px 25px 0 -25px;
  background:$color-paper;
  box-shadow:$shadow;
  min-height:538px;
  padding:53px 106px 32px 77px;
}
@media screen and (max-width:1200px) {
  .sub-nav {
    font-size:14px;
    padding:45px 30px 20px;
  }
  .sub-nav li:before {
    margin:0 7px 0 0;
  }
}
@media screen and (max-width:1000px) {
  .wrapper,
  .wrapper-holder {
    display:block;
    height:100%;
  }
  .wrapper-holder { padding:0; }
  .main {
    margin:0;
    padding:66px 0 0;
    height:100%;
  }
  .main-holder {
    display:table;
    width:100%;
    height:100%;
    border-collapse:collapse;
  }
  .main-container {
    padding:40px;
    margin:0;
    display:table-cell;
    min-height:0;
  }
  .sub-nav {
    display:table-footer-group;
    padding:0;
  }
  .sub-nav ul {
    padding:25px 20px 0;
    display:table-cell;
    vertical-align:middle;
    background:$color-blue;
  }
}
@media screen and (max-width:640px) {
  .sub-nav li {
    width:47%;
    margin:0 0 15px;
    position:relative;
    padding:0 0 0 40px;
  }
  .sub-nav li:before {
    position:absolute;
    left:0;
    top:50%;
    transform:translate(0, -50%);
  }
}
@media screen and (max-width:460px) {
  .sub-nav li {
    width:100%;
    margin:0 0 15px;
  }
  .sub-nav ul:after { display:none; }
  .main-container {
    padding:15px;
  }
}