.tab2 {
  max-width:274px;
  padding:17px 0 0;

  .row { margin:0 0 55px; }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"] {
      background:#fff;
      border-width:0 0 1px;
      border-style:solid;
      border-color:#dadada;
      color:#191919;
      font:16px $font-basic;
      padding:1px 3px 5px;
      margin:0;
      width:100%;
      transition:border-color .3s ease-out;
  }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus {
      border-color:$color-blue;
  }
  select {
      background:#fff;
      border-width:0 0 1px;
      border-style:solid;
      border-color:#dadada;
      color:#191919;
      font:16px $font-basic;
      padding:8px 3px;
      margin:0;
      width:100%;
  }
  label {
      color:#797979;
      display:inline-block;
      vertical-align:top;
      font:12px/14px $font-basic;
      transition:color .3s ease-out;
  }
  .zs-focus label,
  label.focus {
      color:#2462bb;
  }
  input[type="submit"] {
      background:#f9f9f9;
      color:#202020;
      font:bold 14px $font-basic;
      text-transform:uppercase;
      border-radius:5px;
      box-shadow:-2px 5px 5px 0 #c2c2c2;
      margin:12px 0 0;
      padding:10px 16px;
      border:none;
      cursor:pointer;
      float:right;
      transition:transform .3s ease-out;
  }
  input[type="submit"]:focus,
  input[type="submit"]:hover {
      transform:scale(1.1);
  }
  .zs,
  .zs.zs-focus:not(.zs-disabled) {
    box-shadow:none;
    background:none;
  }
  .zs-text,
  .zs.zs-placeholder-active .zs-text,
  .zs.zs-focus:not(.zs-disabled) .zs-text {
    background:#fff;
    box-shadow:none;
    color:#191919;
    border-width:0 0 1px;
    border-style:solid;
    border-color:#dadada;
    padding:1px 3px 5px;
    font:16px $font-basic;
  }
  .zs.zs-focus:not(.zs-disabled) .zs-text {
    border-color:$color-blue;
  }
  .zs.zs-focus:not(.zs-disabled) .zs-text:after,
  .zs.zs-focus:not(.zs-disabled) .zs-btn,
  .zs-text:after,
  .zs-btn {
    transform:rotate(0);
    width:0;
    height:0;
    border:none;
    border-top:8px solid #191919;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    background:none;
    top:50%;
    margin:-4px 0 0;
    right:8px;
  }
  .zs-drop {
    background:#fff;
    box-shadow:none;
  }
  .zs-drop-item {
    box-shadow:none;
    color:#191919;
    padding: 8px;
  }
  .zs-drop-item:hover,
  .zs-drop-item.zs-active:not(.zs-drop-disabled) {
    color:#fff;
  }
}
@media screen and (max-width:1000px) {
  .tab2 { max-width:100%; }
}
@media screen and (max-width:460px) {
  .tab2 input[type="submit"] {
      float:none;
      display:block;
      margin:0 auto;
  }
}